body {
    font-family: 'Oswald', serif;
    font-size: 20px;
    background-color: whitesmoke;
    border-color:orangered;
}
form {
    text-align: center;

}

.btn-default {
    width: 150px;
    height: 150px;

}

.fa {
    align:center;
    font-size:110px;
}
